.nav {
  position: fixed;
  top: 0;
  width: 1366px;
  height: 30px;
  z-index: 5;
  background: #8f9395; }
  .nav a {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase; }
  .nav li {
    display: inline; }

.jumbotron {
  background: url("file://C:/Users/Vlacheslav/Documents/JSExercises/Knives/images/banner.jpg") no-repeat center center !important;
  height: 500px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .jumbotron p {
    font-size: 20px;
    color: #fff; }

.learn-more {
  color: #000;
  /*font-family: 'PT Sans Narrow' */
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
  .learn-more h3 {
    font-family: "PT Sans Narrow"; }

.carousel-control {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80834f1f', endColorstr='#00834f1f', GradientType=1);
  background-repeat: repeat-x; }

.left {
  background-image: -webkit-linear-gradient(left, rgba(131, 79, 31, 0.5) 0, rgba(131, 79, 31, 0.0001) 100%);
  /*background-image: -o-linear-gradient(left,rgba(131,79,31,$gradientB) 0,rgba(131,79,31,$gradientA) 100%) */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(131, 79, 31, 0.5)), to(rgba(131, 79, 31, 0.0001)));
  background-image: -moz-linear-gradient(left, rgba(131, 79, 31, 0.5) 0, rgba(131, 79, 31, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(131, 79, 31, 0.5) 0, rgba(131, 79, 31, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(131, 79, 31, 0.5) 0, rgba(131, 79, 31, 0.0001) 100%); }

.right {
  right: 0;
  left: auto;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-linear-gradient(left, rgba(131, 79, 31, 0.0001) 0, rgba(131, 79, 31, 0.5) 100%);
  /*background-image: -o-linear-gradient(left,rgba(131,79,31,$gradientB) 0,rgba(131,79,31,$gradientA) 100%) */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(131, 79, 31, 0.5)), to(rgba(131, 79, 31, 0.5)));
  background-image: -moz-linear-gradient(left, rgba(131, 79, 31, 0.0001) 0, rgba(131, 79, 31, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(131, 79, 31, 0.0001) 0, rgba(131, 79, 31, 0.5) 100%); }

.low-container {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 165px;
  margin-left: 165px; }

.row {
  background: #bababa;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px; }
  .row h2 {
    font-size: 24px;
    text-align: center; }
  .row h3 {
    font-size: 20px; }

.col-md-6 h3 {
  text-align: left; }

.bordered {
  border-width: 2px;
  border-color: #fff;
  border-style: solid; }

.highlight {
  top: -5px; }

.hidden {
  display: none; }

.wrapper {
  position: relative;
  display: block; }

.thing .comment {
  position: absolute;
  top: 25;
  left: 10;
  z-index: 4;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: all 0.5s ease; }
.thing:hover .comment {
  z-index: 1;
  opacity: 1; }
.thing img {
  z-index: 1;
  opacity: 1; }
.thing:hover img {
  z-index: 4;
  opacity: 0.2; }

.social-footer {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 165px; }

.sign-footer {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 165px; }

.gray {
  background-color: #8f9395;
  width: 1366px;
  height: 30px; }

/*# sourceMappingURL=main_1.css.map */
